/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
  /*  Primary Colors  */
  --clr-brightOrange: 31 77% 52%;
  --clr-darkCyan: 184 100% 22%;
  --clr-veryDarkCyan: 179 100% 13%;
  /*  Neutral Colors  */
  --clr-white: 0 0% 100%;
  --clr-veryLightGray: 0 0% 95%;
  /*  font-size  */
  --fs-200: 2.5rem;
  --fs-100: .9rem;
  /*  font-weight  */
  --fw-700: 700;
  --fw-400: 400;
  /*  font-family  */
  --ff-big-shoulders-dis: "Big Shoulders Display", cursive;
  --ff-lexend-deca: "Lexend Deca", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/*  Box sizing  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Reset Margins  */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
blockquote,
pre {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

ol, ul, a {
  list-style: none;
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

/*  setup the body  */
body {
  font-family: var(--ff-lexend-deca);
  font-size: var(--fs-100);
  font-weight: var(--fw-400);
  background-color: hsl(var(--clr-veryLightGray));
  line-height: 1.9;
}

/*  make images easier to work with  */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* make form elements easier to work with */
/* ------------------- */
/* Utility classes     */
/* ------------------- */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding-inline: 10em;
  margin-inline: auto;
  max-width: 1200px;
  margin: 0 auto;
}

/*  Colors  */
.bg-brightOrange {
  background-color: hsl(var(--clr-brightOrange));
}

.bg-darkCyan {
  background-color: hsl(var(--clr-darkCyan));
}

.bg-veryDarkCyan {
  background-color: hsl(var(--clr-veryDarkCyan));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-brightOrange {
  color: hsl(var(--clr-brightOrange));
}

.text-darkCyan {
  color: hsl(var(--clr-darkCyan));
}

.text-veryDarkCyan {
  color: hsl(var(--clr-veryDarkCyan));
}

.text-veryLightGray {
  color: hsl(var(--clr-veryLightGray));
}

.text-white-alp75 {
  color: hsl(var(--clr-darkBlackishBlue)/0.75);
}

/* typography */
.ff-big-shoulders-dis {
  font-family: var(--ff-big-shoulders-dis);
}

.ff-lexend-deca {
  font-family: var(--ff-lexend-deca);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fw-700 {
  font-size: var(--fw-700);
}

.fw-400 {
  font-size: var(--fw-400);
}

/* ---------- Common Properties -----------*/
h1 {
  text-transform: uppercase;
  font-family: var(--ff-big-shoulders-dis);
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  line-height: 2.5;
  color: hsl(var(--clr-white));
}

p {
  color: hsl(var(--clr-white)/0.75);
  margin-bottom: 5.6em;
}

/* ------------ Cards Section ---------------- */
.card-btn {
  display: inline-block;
  padding: 0.75em 2.5em;
  border: 0;
  border-radius: 3em;
}

.card {
  display: flex;
  justify-content: flex-start;
  border-radius: 0.5em;
}
.card__sedans {
  background-color: hsl(var(--clr-brightOrange));
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 3em;
}
.card__sedans__btn {
  color: hsl(var(--clr-brightOrange));
  border: 1px solid hsl(var(--clr-white));
  background-color: hsl(var(--clr-white));
  cursor: pointer;
}
.card__sedans__btn:hover {
  color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-white));
  background-color: hsl(var(--clr-brightOrange));
}
.card__suvs {
  background-color: hsl(var(--clr-darkCyan));
  padding: 3em;
}
.card__suvs__btn {
  color: hsl(var(--clr-darkCyan));
  border: 1px solid hsl(var(--clr-white));
  background-color: hsl(var(--clr-white));
  cursor: pointer;
}
.card__suvs__btn:hover {
  color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-white));
  background-color: hsl(var(--clr-darkCyan));
}
.card__luxury {
  background-color: hsl(var(--clr-veryDarkCyan));
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 3em;
}
.card__luxury__btn {
  color: hsl(var(--clr-veryDarkCyan));
  border: 1px solid hsl(var(--clr-white));
  background-color: hsl(var(--clr-white));
  cursor: pointer;
}
.card__luxury__btn:hover {
  color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-white));
  background-color: hsl(var(--clr-veryDarkCyan));
}

/* ------------ Media Query Section ---------------- */
@media screen and (max-width: 1100px) {
  .container {
    padding-inline: 4em;
    margin-inline: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 440px) {
  .container {
    padding-inline: 2em;
    margin-inline: auto;
    margin: 1em auto;
  }

  .card {
    flex-direction: column;
  }
  .card__sedans {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0;
  }
  .card__luxury {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0;
  }
}

/*# sourceMappingURL=style.css.map */
